.userList {
  flex: 4;
}
.link {
  text-decoration: none;
}
.listUser {
  display: flex;
  align-items: center;
}
.userImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.userEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: #fff;
  background-color: #3bb073;
  margin-right: 20px;
  cursor: pointer;
}

.userRemoveIcon {
  color: red;
  cursor: pointer;
}
